<!doctype html>
<html lang="fr" ng-app="TodoListApp">
	<head>
		<meta charset="utf-8">
		<title>CORE - jQuery vs PrototypeJS</title>

		<!-- Bibliothéque dont nous avons besoin -->
		<script src="app/lib/jquery.min.js"></script>
		<script type="text/javascript">
			$.noConflict();
		</script>
		<script src="app/lib/prototype.js"></script>

		<!-- Nos scripts -->
		<script src="app/js/jquery.js"></script>
		<script src="app/js/prototype.js"></script>
	</head>
	<body>
		
	</body>
</html>
