<!doctype html>
<html lang="fr" ng-app="TodoListApp">
	<head>
		<meta charset="utf-8">
		<title>CORE - jQuery vs PrototypeJS</title>

		<!-- Bibliothéque dont nous avons besoin -->
		<script src="app/lib/jquery.min.js"></script>
		<script type="text/javascript">
			$.noConflict();
		</script>
		<script src="app/lib/prototype.js"></script>

		<!-- Nos scripts -->
		<script src="app/js/jquery.js"></script>
		<script src="app/js/prototype.js"></script>
	</head>
	<body>
		<h1>jQuery vs PrototypeJS</h1>
		<button id = 'prototype'>Click me Prototype</button>
		<button id = 'jquery'>Click me jQuery</button>

		<ul>
			<li>Element 1</li>
			<li>Element 2</li>
		</ul>


		
	</body>
</html>
