<!doctype html>
<html lang="fr" ng-app="TodoListApp">
	<head>
		<meta charset="utf-8">
		<title>IHM - jQueryUI vs Bootstrap</title>

		<!-- Bibliothéque dont nous avons besoin -->
		<script src="app/lib/jquery.min.js"></script>
		<script src="app/lib/jquery-ui.min.js"></script>
		<script src="app/lib/bootstrap.min.js"></script>

		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="app/css/jquery-ui.css">
		<link rel="stylesheet" type="text/css" href="app/css/bootstrap.min.css">

		<!-- Nos scripts -->
		<script src="app/js/jquery-ui.js"></script>
		<script src="app/js/bootstrap.js"></script>
	</head>
	<body>
		<h1>jQuery vs PrototypeJS</h1>
		<button id = 'prototype'>Click me Prototype</button>
		<button id = 'jquery'>Click me jQuery</button>

		<ul>
			<li>Element 1</li>
			<li>Element 2</li>
		</ul>


		
	</body>
</html>
