<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">
		<title>IHM - jQueryUI vs Bootstrap</title>
</head>
<body>
	<h1>jQueryUI vs Bootstrap</h1>
	<div>
		<iframe name="jQueryUI" src="/jqueryui" height="500px" width="100%"> 
			Votre navigateur ne supporte pas les iframes 
		</iframe>
	</div> 

	<div>
		<iframe name="Bootstrap" src="/bootstrap" height="500px" width="100%"> 
		Votre navigateur ne supporte pas les iframes 
		</iframe>

	</div> 
</body>
</html>